name: terraform-apply

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  apply:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: envs/primary

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::132672187356:role/github-actions-terraform-r360
          aws-region: us-east-1

      - name: Terraform init
        run: terraform init -upgrade -input=false

      - name: Terraform fmt
        run: terraform fmt -recursive -check

      - name: Terraform validate
        run: terraform validate

      - name: Terraform plan
        run: terraform plan -out=tfplan -input=false

      - name: Terraform apply
        run: terraform apply -auto-approve tfplan
